<h1>The Coolest URL</h1>

<div align="centre">
<p><b>Feeling frustrated? Try me</p></b>
</div>

<div class = "container">
<p><b>Form to Get Cool URL</p></b>
<form action="/cool_url" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Hit this!">
</form>

<p><b>Form to Post Cool URL</p></b>
<form action="/cool_url" method="post">
  <input type="text" name="user_input"><br><br>
  <input type="text" name="post[title]"><br><br>
  <input type="text" name="post[price]"><br><br>
  <p><b>This is a textbox:</p></b>
  <textarea cols ="40" rows="5" name="Comments box:"></textarea><br>
  <input type="submit" value="Press this!"><br><br>

<hr>
<div align="left">
<p><b>Angry expletives buttons:</p></b>
  <input type="radio" name ="Angry expletives" value ="Crap"> Crap!<br>
  <input type="radio" name ="Angry expletives" value ="Shit"> Shit!<br>
  <input type="radio" name ="Angry expletives" value ="Dammit"> Dammit!<br>

<p><b>Angry expletives checkboxes:</p></b>
  <input type="checkbox" name ="Angry expletives" value ="Crap"> Crap!<br>
  <input type="checkbox" name ="Angry expletives" value ="Shit"> Shit!<br>
  <input type="checkbox" name ="Angry expletives" value ="Dammit"> Dammit!<br>
</form><br>

<p><b>Angry expletives dropdown:</p></b>
<select name="The Angry Dropdown">
<option value="Crap">Fresh Crap</option>
<option value="Shit">Old Shit</option>
<option value="Dammit">Hot Dammit</option>
</select>
</div>
</div>